.body-container{
  margin-left: 100px;
}
#about{
  display: flex
}
.section-text{
  font-size: 18px;
line-height: 130%;
margin-bottom: 30px;
width: 100%;
}
.section-header{
  font-family: Chava;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 80px;
}
.section-p{
  margin-bottom: 30px;
}
.section-image{
  width: 50%;
}
